@keyframes caret{ 
	50%{ opacity:0.1; transform:scaleY(0.8); } 
}
@-webkit-keyframes caret{
	50%{ opacity:0.1; -webkit-transform:scaleY(0.8); } 
}

.fancyInput :-moz-placeholder{ color:rgba(255,255,255,0.2); } /* deprecated. but works for now. should use double '::'*/
.fancyInput :-webkit-placeholder{ color:rgba(255,255,255,0.2); }

.fancyInput{ display:inline-block; letter-spacing:-1px; text-shadow:0 2px 5px rgba(0,0,0,.6); white-space:nowrap; cursor:text; min-width:500px; width:auto; font-family:'Roboto Condensed', sans-serif; position:relative; }
	.fancyInput input{ color:transparent; position:absolute; z-index:2; width:100%; height:100%; border:0; top:0; left:0; background:none; font-size:inherit; letter-spacing:-1px; outline:0; font-family:'Roboto Condensed', sans-serif; }
	.fancyInput > div{ display:inline-block; white-space:no-wrap; }

	.fancyInput input:focus ~ .caret,
	.fancyInput input:focus ~ div .caret{ opacity:.8; box-shadow:0 0 8px #FFF; -webkit-animation:0.4s 40ms caret infinite; animation:0.4s 40ms caret infinite; }
	.fancyInput .caret{ font-weight:normal; opacity:0; position:absolute; top:0; height:100%; width:3px; background:#FFF; border-radius:4px; -moz-user-select:none; }
	.fancyInput > .caret{ margin-left:2px; }

		/* text effects */
		.fancyInput > div span{ -webkit-transition:100ms cubic-bezier(0.08, 0.6, 0.56, 1.4); transition:100ms cubic-bezier(0.08, 0.6, 0.56, 1.4); display:inline-block; position:relative; }
		.fancyInput > div span.state1{ -webkit-transform:translateY(-25px) rotateX(90deg); transform:translateY(-25px) rotateX(90deg); }
		.fancyInput > div span.state2{ -webkit-transform:translateY(25px) rotateX(90deg); transform:translateY(25px) rotateX(90deg); }


/* DEMO text effects */
.fancyInput.effect2 > div span.state1,
.fancyInput.effect2 > div span.state2{ -webkit-transform:translateX(10px) scale(1.8); transform:translateX(10px) scale(1.8); }

.fancyInput.effect3 > div span{ -webkit-transition:200ms cubic-bezier(0.08, 0.6, 0.56, 1.4); transition:200ms cubic-bezier(0.08, 0.6, 0.56, 1.4); }
.fancyInput.effect3 > div span.state1,
.fancyInput.effect3 > div span.state2{ opacity:0; -webkit-transform:scale(0.4); transform:scale(0.4); -webkit-filter:blur(2px); }

.fancyInput.effect4 > div span{ -webkit-transition-duration:150ms; transition-duration:150ms; }
.fancyInput.effect4 > div span.state1,
.fancyInput.effect4 > div span.state2{ opacity:0; -webkit-transform:translateY(-60px); transform:translateY(-60px); }

.fancyInput.effect5 > div span{ -webkit-transition-duration:150ms; transition-duration:150ms; }
.fancyInput.effect5 > div span.state1,
.fancyInput.effect5 > div span.state2{ opacity:0; -webkit-transform:translateX(-30px); transform:translateX(-30px); opacity:0; }